@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Ecommerce.UI.Models.DTO.ProductDto>

@{
}

<h1 class="mt-3">Danh sách sản phẩm</h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Products" asp-action="Add">Thêm sản phẩm</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.UnitPrice</td>
                <td>
                    <a asp-controller="Products"
                       asp-action="Edit"
                       asp-route-id="@product.ProductId"
                       class="btn btn-light">Chỉnh sửa</a>
                </td>
            </tr>
        }
    </tbody>
</table>