<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/94665fc3-ace7-40ab-a162-2544cc5598b7/resourcegroups/ecommerce-dev-east/providers/Microsoft.Web/sites/EcommerceAPI20240224145828</ResourceId>
    <ResourceGroup>ecommerce-dev-east</ResourceGroup>
    <ApiResourceId>/subscriptions/94665fc3-ace7-40ab-a162-2544cc5598b7/resourceGroups/ecommerce-dev-east/providers/Microsoft.ApiManagement/service/EcommerceAPIapi2024/apis/EcommerceAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ecommerceapi20240224145828.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>81b2f8b2-3870-426f-9d64-97ab95e53455</ProjectGuid>
    <MSDeployServiceURL>ecommerceapi20240224145828.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EcommerceAPI20240224145828</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$EcommerceAPI20240224145828</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>