.home .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.home .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.home .container {
    padding: 2px 16px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .home {
        background-color: black;
    }
    .home .product {
        width: 100% !important;
    }
}
